@import url('https://fonts.googleapis.com/css?family=Varela Round');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Varela Round';
    height: 100vh;
    background: #EBEBEB; /* primary color */
}

.accent {
    color: #829CD0;
}
.secondary{
    background-color: #323232;
}
.headerTextColor{
    /*color: rgb(189, 189, 189);*/
    color: #EBEBEB;
}
.textColor{
    color: #323232;
}
/* 1) Header */
#header{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 110px;
    border-bottom: 10px solid #829CD0;
}

#header #logo {
    max-width: 60px;
    height: auto;
}

.icon{
    max-width: 60px;
    height: auto;
}

#header #title {
    font-size: 48px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
#header #department{
    font-size: 22px;
    font-style: italic;
}
/* 2) Body */
#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 3) Profile */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#profile #pfp {
    width: 220px;
    max-width: 100%;
    height: auto;
    margin-top: -120px;
    clip-path: circle();
    border: 3px solid white;
}

#profile #infoContainer .icon{
    width: 50px;
    height: auto;
    border-radius:20px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}
/* 3.1) Snackbar notification */
#snackbar{
    visibility: hidden;
    color: #323232;
    background-color: #829CD0;
    font-size:18px;
    min-width: 200px;
    margin-left: -125px; /* Makes it centered on screen */
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    left: 50%;
    bottom: 30px;
    z-index: 999; /* Puts it on top of everything else */
    position: fixed; /* Always shows it at the bottom of the screen */
}
/* This will be activated when the snackbar's class is 'show' which will be added through JS */
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations for fading in and out */
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
/* 4) Text Blurbs */
.textBlurb{
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Setting this allows text to shrink */
    margin-top: 30px;
    margin-left: 10px; /* These are for if viewport is small */
    margin-right: 10px;
    margin-bottom: 48px;
    border: 3px solid #323232;
    border-radius: 12px;
    padding: 24px;
    font-size:18px;
    line-height: 45px; /* Spacing between <p> lines */
    flex: 1;
    flex-wrap: wrap;
    box-shadow: 5px 10px #323232;
}
#aboutMe h1, #awards h1{
    text-align: center;
}
#awards li{
    margin-left: 15px;
}
#moreLinks{
    text-align: center;
}
#moreLinks_1, #moreLinks_2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 12px;
}
.btnBlurb{
    display: flex;
    flex-direction: column;
    height: 90px;
    max-width: 800px;
    margin-top: 24px;
    margin-left: 10px; 
    margin-right: 10px;
    border: 3px solid #323232;
    border-radius: 12px;
    padding: 24px;
    font-size:18px;
    flex: 1;
    flex-wrap: wrap;
    line-height: 25px;
    /* Animation */
    transition: 0.5s;
} 
.btnBlurb:hover{
    box-shadow: 3px 3px #323232;
    transition: 0.5s;
}
button { /* flexed just so text can be centered properly */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Colors for button links */
#moreLinks_1 > :nth-child(1){
    background-color: #FFE1E9;
}
#moreLinks_1 > :nth-child(2){
    background-color: #B5EAD6;
}
#moreLinks_1 > :nth-child(3){
    background-color: #A3E1DC;
}
#moreLinks_2 > :nth-child(1){
    background-color: #F6EAC2;
}
#moreLinks_2 > :nth-child(2){
    background-color: #DFCCF1;
}
#moreLinks_2 > :nth-child(3){
    background-color: #FFD8CC;
}
/* 6) Footer */
#footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin-top: 48px;
    padding: 10px;
}
#fImages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#footer #fImages img {
    max-width: 80px;
    height: auto;
}

#footerText{
    font-size: 14px;
}

#footer div {
    text-align: center;
    margin-top: 24px;
}

/* 7) MOBILE SUPPORT: If viewport is < 531px */
@media (max-width: 530px){
    /* PFP is adjusted for alignment */
    #profile #pfp {
        width: 180px;
        max-width: 100%;
        margin-top: -100px;
    }

    /* Smaller icons */
    .icon{
        width: 40px;
    }

    /* Textblurbs are smaller for less scrolling */
    .textBlurb{
        font-size: 14px;
        line-height: 30px;
    }
    #aboutMe h1, #awards h1{
        margin-bottom: 15px;
    }

    .btnBlurb{
        height: 60px;
    }

}